.view {
   width: 240px;
   height: 180px;
   margin: 10px;
   float: left;
   border: 10px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   box-shadow: 1px 1px 2px #ccc;
}
.view .mask {
    width: 240px;
    height: 180px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(2,171,255, 0.3);
    transform: translateX(-240px);
    transition: all 0.3s ease-in-out;
}
.view:hover .mask {
    transform: translateX(0px);
}
.view .content {
   width: 240px;
   height: 180px;
   position: absolute;
   top: 0;
   left: 0;
}
.view img {
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.view:hover img {
    transform: translateX(240px);
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
    background: rgba(255, 255, 255, 0.5);
    color: #000;
    box-shadow: 0px 1px 3px rgba(2,171,255, 0.5);
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 5px;
    text-align: center;
    filter: alpha(opacity=0);
    opacity: 0;
    color: #333;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.view:hover p {
    filter: alpha(opacity=100);
    opacity: 1;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   box-shadow: 0 0 1px #000;
}
.view a.info: hover {
   box-shadow: 0 0 5px #000;
}